<mat-tab-group style="width: 100%; background-color: #797979;">
    <mat-tab label="Import From Github">
    </mat-tab>
    <mat-tab label="Import From Local ">
    </mat-tab>
</mat-tab-group>

<mat-card id="searchSection">Searching</mat-card>

<mat-list role="list" class="projectsList">
    <mat-list-item class="projectListItem" role="listitem">
        <mat-card class="projectsListCard">
            <mat-card-title>Project Item</mat-card-title>
            <mat-card-subtitle>Description</mat-card-subtitle>
            <mat-card-footer>Submitted By: </mat-card-footer>
            <button mat-raised-button> View Project </button>
        </mat-card>
    </mat-list-item>
    <mat-list-item class="projectListItem" role="listitem">
        <mat-card>
            <mat-card-title>Project Item</mat-card-title>
            <mat-card-subtitle>Description</mat-card-subtitle>
            <mat-card-footer>Submitted By: </mat-card-footer>
        </mat-card>
    </mat-list-item>
    <mat-list-item class="projectListItem" role="listitem">
        <mat-card>
            <mat-card-title>Project Item</mat-card-title>
            <mat-card-subtitle>Description</mat-card-subtitle>
            <mat-card-footer>Submitted By: </mat-card-footer>
        </mat-card>
    </mat-list-item>
</mat-list>