<div mat-dialog-content *ngIf="data.inputCount < 2">
    <p>Enter data</p>
    <mat-form-field appearance="fill">
        <mat-label>Data value</mat-label>
        <input matInput [(ngModel)]="data.inputData[0]">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.inputData" cdkFocusInitial>Ok</button>
</div>
<div mat-dialog-content>
    <p>Enter data</p>
    <mat-form-field appearance="fill">
        <mat-label>Data value: 1</mat-label>
        <input matInput [(ngModel)]="data.inputData[0]">
        <mat-label>Data value: 2</mat-label>
        <input matInput [(ngModel)]="data.inputData[1]">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.inputData" cdkFocusInitial>Ok</button>
</div>
