<div class="workspace-boundary" id="workspace-boundary">
  TEST
    <app-node-element *ngFor="let node of this.data.nodes" [nodeData]="node"></app-node-element>

    <!-- Part of the new UI section-->
    <!-- <app-tensor *ngFor="let node of this.data.TFTensors" [_TFNodeData]="node"></app-tensor>-->
    <!-- <app-operator *ngFor="let node of this.data.TFOperator" [_TFNodeDataOperator]="node"></app-operator>-->

</div>

<div class="importFromCommunity">
  Import From Community
  <app-project-list *ngFor="let item of projectL" [element]="item"></app-project-list>
</div>
