.workspace-boundary {
  position: relative;
  width: 99.7%;
  height: 100%;
  float: right;
  border: 2px solid black;
  background-color: #edf2f1;
}

#importFromCommunity{
  display: none;
}

.lgraphcanvas{
  position: relative;
  border: none;
}
