<div *ngIf="!nodeCreated">
  <mat-card class="createNode">
    <mat-card-title>Create A Node</mat-card-title>
    <form #nodeForm="ngForm" (ngSubmit)="onClickSubmit(nodeForm.value)">
      <mat-form-field class="example-full-width">
        <mat-label>Node name</mat-label>
        <input id="nodeName" type="text" matInput placeholder="Ex. Function1"  [formControl]="nodeName" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Node type</mat-label>
        <mat-select required [formControl]="nodeType">
          <mat-option value="Integer">Array</mat-option>
          <mat-option value="Boolean">Boolean</mat-option>
          <mat-option value="Integer">Integer</mat-option>
          <mat-option value="String">String</mat-option>
          <mat-option value="Void">Void</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" class="createNodeButton"  mat-raised-button>Create Node</button>
    </form>
  </mat-card>
</div>

<div *ngIf="nodeCreated">
  <app-node-element></app-node-element>

</div>
