.draggable {
  position: relative;
  width: 10%;
  height: 15%;
  background-color: #29e;
  border: 2px solid black;
  color: white;
  touch-action: none;
  user-select: none;
  transform: translate(0px,0px);
}

.NodesArr{
  position: absolute;
  width: 100%;
  font-size: 0.6rem;
  /*border: 3px solid #ff8C00;*/
  bottom: -12%;
}

.mat-list-item{
  position: absolute;
  font-size: 0.65rem;
  bottom: 30%;
}

.mat-option{
  font-size: 0.7rem;
}

.functionalNode{
  height: 6rem;
  width: 11%;
  border: 2px solid #ff8C00;
  border-radius: 2.3rem;
}

.functionalNodeOutput{
  position: absolute;
  height: 40%;
  /*border: 3px solid black;*/
  bottom: 25%;
  width: 100%;
}

.typeOfFunctionalNode{
  position: absolute;
  height: 30%;
  /*border: 3px solid black;*/
  top: 12%;
  width: 100%;
  text-align: center;
  left: -5%;
  font-size: 20px;
}
