<div *ngIf="nodeData.type != 'functional'" class="draggable" id="{{nodeData.name}}" (mousemove)="reload()">
    <mat-list>
      <div class="nodeName">
        <p>Node: {{nodeData.num}}</p>
      </div>
    </mat-list>
    <button id="deleteButton" mat-icon-button (click)="openDeleteDialog()">
      <mat-icon>-</mat-icon>
    </button>
    <button class="createComponentButton" id="outputButton" mat-raised-button color="primary">Add Output</button>
    <mat-form-field class="NodesArr" appearance="fill" (mouseenter)="updateSelectedOptions()">
      <mat-select [formControl]="nodesArray" multiple (click)="updateSelectedOptions()" (selectionChange)="linkNodes()"
                  placeholder="Constant">
        <mat-option *ngFor="let nodeName of this.selectOptions" [value]="nodeName">
          {{nodeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div *ngIf="nodeData.type == 'functional'" class="draggable functionalNode" id="{{nodeData.name}}" (mousemove)="reload()">
  <div class="typeOfFunctionalNode">
    {{nodeData.value}}
  </div>
  <div class="functionalNodeOutput">
    <mat-form-field appearance="fill" class="NodesArr">
      <mat-label>Output</mat-label>
      <mat-select [formControl]="nodesArray" (selectionChange)="linkNodes()" multiple>
        <mat-option
          *ngFor="let nodeName of this.data.nodes"
          [value]="nodeName"
          [ngStyle]="{ display: nodeName.name==nodeData.name ? 'none': 'block'}">

          {{nodeName.name}}

        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

