.draggable {
  position: relative;
  width: 10%;
  height: 15%;
  background-color: #333642;
  /*border: 2px solid black;*/
  color: white;
  touch-action: none;
  user-select: none;
  transform: translate(0px,0px);
  border-radius: 5%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  position: absolute;
}

.NodesArr{
  position: absolute;
  /*border: 3px solid #ff8C00;*/
  top: 80%;
  width: 100%;
}

#deleteButton{
  position: absolute;
  right: -5%;
  top: -10%;
}

#deleteButton mat-icon{
  color: black;
}

.mat-form div{
  background: white;
}

mat-select{
  left: 100%;
  /*background: white;*/
  padding: 0;
  margin: 0;
}

.mat-option{
  background: orange;
  font-size: 0.5rem;
}

/*#mat-select-0-panel{*/
/*  min-width: 0;*/
/*  width: 20px;*/
/*}*/

.mat-option:hover{
  background: #de9000;
}

.mat-list-item{
  position: absolute;
  font-size: 0.65rem;
  bottom: 30%;
}

/*.mat-option{*/
/*  font-size: 0.7rem;*/
/*}*/

.functionalNode{
  height: 6rem;
  width: 9%;
  border: 2px solid #ff8C00;
  border-radius: 2.3rem;
}

.functionalNodeOutput{
  position: absolute;
  height: 40%;
  /*border: 3px solid black;*/
  bottom: 20%;
  width: 100%;
  color: white;
}

.functionalNodeOutput mat-label{
  color: white;
}

.typeOfFunctionalNode{
  position: absolute;
  height: 30%;
  /*border: 3px solid black;*/
  top: 12%;
  width: 100%;
  text-align: center;
  left: -5%;
  font-size: 20px;
}

.nodeName{
  position: absolute;
  /*border: 2px solid black;*/
  top: 0;
  left: -0.1%;
  width: 100.2%;
  height: 30.5%;
  font-size: 16px;
  margin: 0 auto;
  background-color: #ff8C00;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.nodeName p{
  position: absolute;
  top:15%;
  margin-left: 23%;
}

#outputButton{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  font-size: 0.7rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
