.draggableNode {
    width: 13%;
    height: 9.3%;
    background-color: #29e;
    border: 2px solid black;
    color: red;
    touch-action: none;
    user-select: none;
    transform: translate(0px,0px);
    border-radius: 4%;
}

.componentButton{
    display: table-cell;
    width: 250px;
    margin: 8px 8px 8px 0;
}
