draggableNode {
    width: 10%;
    height: 15%;
    background-color: #767f7f;
    border: 4px solid black;
    /*color: red;*/
    touch-action: none;
    user-select: none;
    transform: translate(0px,0px);
    border-radius: 40%;
    position: relative;
}

.nodeName{
    position: relative;
    /*align-content: center;*/
    /*border: 2px solid black;*/
    /*top: 0;*/
    /*left: -0.1%;*/
    border-radius: 30%;
    margin: 10%;
    /*width: 80%;*/
    height: 25%;
    font-size: 25px;
    /*align-self: center;*/
    background-color: #ff8c00;
    /*border-top-right-radius: 10%;*/
    /*border-top-left-radius: 10%;*/
}
