<div class="navigator">

    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="isExpanded = !isExpanded">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app-name">Tensorflow UI</h1>
        <div class="WorkspaceToolbar">
          <button id="settingsButton" (click)="showProjectDetails()">
            <mat-icon>settings</mat-icon>
          </button>
          <button class="toolbarButton" id="createNode" mat-raised-button color="primary" [matMenuTriggerFor]="nodes">
            Create Node
          </button>
          <button class="toolbarButton" id="undoButton" mat-raised-button color="primary" [matMenuTriggerFor]="nodes">
            Undo
          </button>
          <button class="toolbarButton" id="redoButton" mat-raised-button color="primary" [matMenuTriggerFor]="nodes">
            Redo
          </button>
          <button class="toolbarButton" id="generateCodeButton" mat-raised-button color="primary" (click)="downloadCode()">Generate Code</button>
          <button class="toolbarButton" id="runCodeButton" mat-raised-button color="primary" (click)="runCode()">Run Code</button>
          <button class="toolbarButton" id="clearCanvas" mat-raised-button color="primary"
                  (click)="clearCanvas()">
            Clear/Reset Canvas
          </button>

        </div>

      <mat-menu #nodes="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="tensorNodes">Tensor Node</button>
        <button mat-menu-item [matMenuTriggerFor]="functionalNodes">Functional Node</button>
      </mat-menu>

      <mat-menu #tensorNodes="matMenu">
        <button mat-menu-item *ngFor="let item of tensorList" (click)="createNode(item)">{{item}}</button>
      </mat-menu>

      <mat-menu #functionalNodes="matMenu">
        <button mat-menu-item *ngFor="let item of functionsList" (click)="createFunctionalNode(item)">{{item}}</button>
      </mat-menu>

    </mat-toolbar>
    <mat-sidenav-container class="container" autosize>
        <mat-sidenav #sidenav class="sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
                     (mouseleave)="mouseleave()">
            <mat-nav-list>
                <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                    <span class="full-width" *ngIf="isExpanded || isShowing">Navigation</span>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                        expand_more
                    </mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                  <button class="navigationButton" mat-raised-button color="primary">
                    Create New Project
                  </button>
                </div>
<!--                <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">-->
<!--                    <button class="createComponentButton" mat-raised-button color="primary"-->
<!--                            (click)="showTensorNodeSearch()">-->
<!--                        Create Node-->
<!--                    </button>-->
<!--                </div>-->
                <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                    <app-export></app-export>
                </div>
                <!-- This is for the V2 section of the node creation. -->
<!--                 <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">-->
<!--                    <app-node></app-node>-->
<!--                 </div>-->
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-workspace-boundary>
            </app-workspace-boundary>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
