<div class="navigator">
    <mat-toolbar color="primary" class="toolbar">
        <div class="app-name">Tensorflow UI</div>
        <span id="settingsButton" (click)="executeCommand(projectDetailsCommand)">
          <mat-icon>settings</mat-icon>
        </span>
        <span class="toolbarButton" id="createNode"  [matMenuTriggerFor]="nodes">
          Create Node
        </span>
        <span class="toolbarButton" id="undoButton" (click)="undo()">
          Undo
        </span>
        <span class="toolbarButton" id="redoButton" (click)="redo()">
          Redo
        </span>
        <span class="toolbarButton" id="generateCodeButton" (click)="executeCommand(generateCodeCommand)">Generate Code</span>
        <span class="toolbarButton" id="runCodeButton" (click)="executeCommand(runCodeCommand)">Run Code</span>
        <span class="toolbarButton" id="clearCanvas"
                (click)="executeCommand(clearCanvasCommand)">
          Clear/Reset Canvas
        </span>

        <mat-menu #nodes="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="operatorNodes">Operator Nodes</button>
            <button mat-menu-item [matMenuTriggerFor]="modelNodes">Model Nodes</button>
            <button mat-menu-item [matMenuTriggerFor]="tensorNodesMenu">Tensor Nodes</button>
            <button mat-menu-item [matMenuTriggerFor]="layersNodes">Layers Nodes</button>
            <button mat-menu-item [matMenuTriggerFor]="constraints">Constraints</button>

        </mat-menu>
        <mat-menu #operatorNodes="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="mathNodes">Arithmetic</button>
            <button mat-menu-item [matMenuTriggerFor]="basicMath">Basic Math</button>
            <button mat-menu-item [matMenuTriggerFor]="dropout">Dropout</button>
            <button mat-menu-item [matMenuTriggerFor]="evaluation">Evaluation</button>
            <button mat-menu-item [matMenuTriggerFor]="linearAlgebra">Linear Algebra</button>
            <button mat-menu-item [matMenuTriggerFor]="logical">Logical</button>
            <button mat-menu-item [matMenuTriggerFor]="matricesNodes">Matrices</button>
            <button mat-menu-item [matMenuTriggerFor]="movingAverage">Moving Average</button>
            <button mat-menu-item [matMenuTriggerFor]="normilization">Normalization</button>
            <button mat-menu-item [matMenuTriggerFor]="convolutionNodes">Operator Convolution</button>
            <button mat-menu-item [matMenuTriggerFor]="reductionNodes">Reduction</button>
        </mat-menu>

        <mat-menu #modelNodes="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="creationNodes">Creation</button>
        </mat-menu>

        <mat-menu #layersNodes="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="advancedActivation">Advanced Activation</button>
            <button mat-menu-item [matMenuTriggerFor]="layerClasses">Classes</button>
            <button mat-menu-item [matMenuTriggerFor]="basic">Basic</button>
            <button mat-menu-item [matMenuTriggerFor]="convolutional">Convolutional</button>
            <button mat-menu-item [matMenuTriggerFor]="layerInput">Input</button>
            <button mat-menu-item [matMenuTriggerFor]="mask">Masking</button>
            <button mat-menu-item [matMenuTriggerFor]="merge">Merge</button>
            <button mat-menu-item [matMenuTriggerFor]="noise">Noise</button>
            <button mat-menu-item [matMenuTriggerFor]="normalization">Normalization</button>
            <button mat-menu-item [matMenuTriggerFor]="padding">Padding</button>
            <button mat-menu-item [matMenuTriggerFor]="pooling">Pooling</button>
            <button mat-menu-item [matMenuTriggerFor]="recurrent">Recurrent</button>
            <button mat-menu-item [matMenuTriggerFor]="wrapper">Wrapper</button>
        </mat-menu>

        <mat-menu #tensorNodesMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="tensorCommonNodes">Common</button>
            <button mat-menu-item [matMenuTriggerFor]="tensorCreationNodes">Creation</button>
            <button mat-menu-item [matMenuTriggerFor]="tensorMatrixNodes">Matrices</button>
            <button mat-menu-item [matMenuTriggerFor]="tensorRandomNodes">Random</button>
            <button mat-menu-item [matMenuTriggerFor]="tensorSliceJoinNodes">Splice Join</button>
            <button mat-menu-item [matMenuTriggerFor]="tensorTransformationNodes">Transformation</button>
        </mat-menu>

        <mat-menu #matricesNodes>
            <button mat-menu-item *ngFor="let item of operatorsArray.matricesArray" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #mathNodes>
            <button mat-menu-item *ngFor="let item of operatorsArray.operatorArithmetic" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #convolutionNodes>
            <button mat-menu-item *ngFor="let item of operatorsArray.operatorConvolution">{{item}}</button>
        </mat-menu>

        <mat-menu #reductionNodes>
            <button mat-menu-item *ngFor="let item of operatorsArray.reductionArray" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #basicMath>
            <button mat-menu-item *ngFor="let item of operatorsArray.basicMath" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>


        <mat-menu #dropout>
            <button mat-menu-item *ngFor="let item of operatorsArray.dropout" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>


        <mat-menu #evaluation>
            <button mat-menu-item *ngFor="let item of operatorsArray.evaluation" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>


        <mat-menu #linearAlgebra>
            <button mat-menu-item *ngFor="let item of operatorsArray.linearAlgebra" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>


        <mat-menu #logical>
            <button mat-menu-item *ngFor="let item of operatorsArray.logical" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>


        <mat-menu #movingAverage>
            <button mat-menu-item *ngFor="let item of operatorsArray.movingAverage" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #normilization>
            <button mat-menu-item *ngFor="let item of operatorsArray.normilization" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #creationNodes>
            <button mat-menu-item *ngFor="let item of modelsArray.creationArray" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #tensorCommonNodes>
            <button mat-menu-item *ngFor="let item of tensorsArray.Common" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #tensorCreationNodes>
            <button mat-menu-item *ngFor="let item of tensorsArray.Creation" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #tensorMatrixNodes>
            <button mat-menu-item *ngFor="let item of tensorsArray.Matrices" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #tensorRandomNodes>
            <button mat-menu-item *ngFor="let item of tensorsArray.Random" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #tensorSliceJoinNodes>
            <button mat-menu-item *ngFor="let item of tensorsArray.SpliceJoin" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #tensorTransformationNodes>
            <button mat-menu-item *ngFor="let item of tensorsArray.Transformation" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #advancedActivation>
            <button mat-menu-item *ngFor="let item of layersArray.advancedActivation" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #layerClasses>
            <button mat-menu-item *ngFor="let item of layersArray.layerClasses" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #basic>
            <button mat-menu-item *ngFor="let item of layersArray.basic" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #convolutional>
            <button mat-menu-item *ngFor="let item of layersArray.convolutional" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #layerInput>
            <button mat-menu-item *ngFor="let item of layersArray.layerInput" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #mask>
            <button mat-menu-item *ngFor="let item of layersArray.mask" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #merge>
            <button mat-menu-item *ngFor="let item of layersArray.merge" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #noise>
            <button mat-menu-item *ngFor="let item of layersArray.noise" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #normalization>
            <button mat-menu-item *ngFor="let item of layersArray.normalization" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #padding>
            <button mat-menu-item *ngFor="let item of layersArray.padding" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #pooling>
            <button mat-menu-item *ngFor="let item of layersArray.pooling" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #recurrent>
            <button mat-menu-item *ngFor="let item of layersArray.recurrent" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #wrapper>
            <button mat-menu-item *ngFor="let item of layersArray.wrapper" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

        <mat-menu #constraints>
            <button mat-menu-item *ngFor="let item of constraintsArray" (click)="createComponent(item)">{{item}}</button>
        </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="workspaceContainer">
        <mat-sidenav class="sidenav" mode="side" opened="true">
            <mat-nav-list>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Home" matTooltipPosition="right">
                            <mat-icon class="homeIcon" [inline]="true" mat-list-icon>home</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Import/Export" matTooltipPosition="right" (click)="drawer.toggle(); setDrawerType('Import/Export'); popList()">
                            <mat-icon class="importExportIcon" [inline]="true" mat-list-icon>import_export</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Settings" matTooltipPosition="right" (click)="drawer.toggle(); setDrawerType('Settings')">
                            <mat-icon class="settingsIcon" [inline]="true" mat-list-icon>settings</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Account" matTooltipPosition="right" (click)="drawer.toggle(); setDrawerType('Account')">
                            <mat-icon class="accountIcon" [inline]="true" mat-list-icon>perm_identity</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Documentation" matTooltipPosition="right">
                            <mat-icon class="documentIcon" [inline]="true" mat-list-icon>description</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

      <mat-sidenav-content>
        <mat-drawer-container class="sidenav-Content-Container">
          <mat-drawer #drawer mode="side" id="sidenav-Content-Drawer">
            <div *ngIf="currentDrawer=='Import/Export'">
              <app-export></app-export>
              <button id="previewTabs" (click)="changeTabIndex(2, previewTabGroup)" style="display: none"></button>
              <app-import></app-import>
                <button id="importPageCanvasTab" (click)="changeTabIndex(1, previewTabGroup)" style="display: none"></button>
            </div>
          </mat-drawer>
          <mat-drawer-content id="sidenav-Canvas-Drawer">

            <mat-tab-group #previewTabGroup>
              <mat-tab>
                <canvas id='Canvas' width='{{screenWidth}}' height='{{screenHeight}}'></canvas>
              </mat-tab>
                <mat-tab>
                    <canvas id='ImportCanvas' width='{{screenWidth}}' height='{{screenHeight}}'>
                    </canvas>
                    <div id="importPageDiv">
                        <app-import-page-content></app-import-page-content>
                    </div>
                </mat-tab>
              <mat-tab>
                <h1>Community Project Preview</h1>
                <div>
                    <button mat-raised-button color="primary" >Import</button>
                    <button (click)="previewTabGroup.selectedIndex=0" mat-raised-button color="primary" >Cancel</button>
                </div>
                <canvas id='previewCanvas' width='{{screenWidth}}' height='{{screenHeight}}'></canvas>
              </mat-tab>
            </mat-tab-group>

          </mat-drawer-content>
        </mat-drawer-container>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<app-node-menu [nodeInput]="selectedNode"></app-node-menu>
