.navigator{
  position: relative;
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.side-menu {
  position: absolute;
  top: -30px;
  bottom: -30px;
  left: 0;
  right: -30px;
  background: #eee;
}

.createComponentButton{
  display: table-cell;
  width: 250px;
  margin: 8px 8px 8px 0;
}

.container {
  height: 90%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav {
  user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  /*padding-left: 30px;*/
}
.submenu.expanded {
  transform: scaleY(1);
}
