<div class="navigator">
    <mat-toolbar color="primary" class="toolbar">
          <div class="app-name">Tensorflow UI</div>
          <span id="settingsButton" (click)="showProjectDetails()">
            <mat-icon>settings</mat-icon>
          </span>
          <span class="toolbarButton" id="createNode"  [matMenuTriggerFor]="nodes">
            Create Node
          </span>
          <span class="toolbarButton" id="undoButton">
            Undo
          </span>
          <span class="toolbarButton" id="redoButton">
            Redo
          </span>
          <span class="toolbarButton" id="generateCodeButton" (click)="downloadCode()">Generate Code</span>
          <span class="toolbarButton" id="runCodeButton" (click)="runCode()">Run Code</span>
          <span class="toolbarButton" id="clearCanvas"
                  (click)="clearCanvas()">
            Clear/Reset Canvas
          </span>


      <mat-menu #nodes="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="tensorNodes">Tensor Node</button>
        <button mat-menu-item [matMenuTriggerFor]="functionalNodes">Functional Node</button>
      </mat-menu>

      <mat-menu #tensorNodes="matMenu">
        <button mat-menu-item *ngFor="let item of tftensor" (click)="createComponent(item)">{{item}}</button>
      </mat-menu>

      <mat-menu #functionalNodes="matMenu">
        <button mat-menu-item *ngFor="let item of tfoperator" (click)="createComponent(item)">{{item}}</button>
      </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="container" autosize>
        <mat-sidenav class="sidenav" mode="side" opened="true">
            <mat-nav-list>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Home" matTooltipPosition="right">
                            <mat-icon class="homeIcon" [inline]="true" mat-list-icon>home</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Import/Export" matTooltipPosition="right" (click)="drawer.toggle(); setDrawerType('Import/Export')">
                            <mat-icon class="importExportIcon" [inline]="true" mat-list-icon>import_export</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Settings" matTooltipPosition="right" (click)="drawer.toggle(); setDrawerType('Settings')">
                            <mat-icon class="settingsIcon" [inline]="true" mat-list-icon>settings</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Account" matTooltipPosition="right" (click)="drawer.toggle(); setDrawerType('Account')">
                            <mat-icon class="accountIcon" [inline]="true" mat-list-icon>perm_identity</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
                <mat-list-item>
                    <div class="sidenav-icons-Div">
                        <button class="sidenav-buttons" matTooltip="Documentation" matTooltipPosition="right">
                            <mat-icon class="documentIcon" [inline]="true" mat-list-icon>description</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
<!--            <mat-nav-list>-->
<!--                <mat-list-item class="sidenav-icons">-->
<!--                    <div class="sidenav-icons-Div">-->
<!--                        <mat-icon class="homeIcon" mat-list-icon>home</mat-icon>-->
<!--                    </div>-->
<!--                </mat-list-item>-->
<!--                <mat-list-item>-->
<!--                    <mat-icon id="someIcon" mat-list-icon>table</mat-icon>-->
<!--                </mat-list-item>-->
<!--                <mat-list-item>-->
<!--                    <mat-icon>settings</mat-icon>-->
<!--                </mat-list-item>-->
<!--              <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">-->
<!--                <app-import></app-import>-->
<!--              </div>-->
<!--              <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">-->
<!--                <app-export></app-export>-->
<!--              </div>-->
<!--                <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">-->
<!--                  <button class="navigationButton" mat-raised-button color="primary">-->
<!--                    Create New Project-->
<!--                  </button>-->
<!--                </div>-->
<!--                &lt;!&ndash; This is for the V2 section of the node creation. &ndash;&gt;-->
<!--&lt;!&ndash;                 <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">&ndash;&gt;-->
<!--&lt;!&ndash;                    <app-node></app-node>&ndash;&gt;-->
<!--&lt;!&ndash;                 </div>&ndash;&gt;-->
<!--            </mat-nav-list>-->

<!--        <mat-sidenav-content>-->
<!--            <app-workspace-boundary [TFNodes]="TFNodeList">-->
<!--            </app-workspace-boundary>-->
<!--        </mat-sidenav-content>-->
        <mat-drawer-container class="sidenav-Content-Container">

            <mat-drawer #drawer mode="side">
                <div *ngIf="currentDrawer=='Import/Export'">
                    <div class="importExportProject">
                        <div id="importExportProjectHeader">
                            <h5>Import/Export Project</h5>
                        </div>
                        <app-import></app-import>
                        <app-export></app-export>
                    </div>

                    <div class="importData">
                        <div id="importDataHeader">
                            <h5>Import Data</h5>
                        </div>
                        <div class="importFromCommunity" id="importFromCommunity">
                          <app-project-list *ngFor="let item of projectL" [element]="item"></app-project-list>
                        </div>
                    </div>
                </div>

            </mat-drawer>
            <mat-drawer-content>
              <mat-tab-group #previewTabGroup>
                <mat-tab>
                  <app-workspace-boundary [TFNodes]="TFNodeList"></app-workspace-boundary>
                </mat-tab>
                <mat-tab>
                  <app-workspace-boundary id="previewWorkspace"></app-workspace-boundary>
                  <div>
                    <button (click)="previewTabGroup.selectedIndex=0">Cancel</button><button>Import</button>
                  </div>
                </mat-tab>
              </mat-tab-group>

            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-container>

</div>
