.navigator{
  position: relative;
  height: 100%;
  /*border: 2px solid salmon;*/
}
mat-toolbar{
  padding-left: 2px;
}

.example-spacer {
  flex: 1 1 auto;
}

/*.side-menu {*/
/*  position: absolute;*/
/*  top: -30px;*/
/*  bottom: -30px;*/
/*  left: 0;*/
/*  right: -30px;*/
/*}*/

.toolbarButton{
}

.container {
  height: 93.2%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
/*.sidenav-content {*/
/*  display: flex;*/
/*  height: 100%;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  /*padding-left: 30px;*/
}
.submenu.expanded {
  transform: scaleY(1);
}

.NodeInput{
  position: relative;
  height: 35%;
  width: 99%;
  left: -0.5%;
  border: 1px solid blue;
}

.NodeSearch{
  position: absolute;
  width: 20%;
  height: 13vh;
  top: 24.8%;
  border: 3px solid black;
  background-color: #333642;
  z-index: 3;
  border-radius: 4%;
}

.NodeSearch button{
  margin-left: 25%;
}

.NodeButton{
  position: absolute;
  bottom: 0;
  letter-spacing: 1px;
  padding: 6px 13px;
  background-color: #ff8C00;
  text-align: center;
  width: max-content;
  cursor: pointer;
  transition: all 0.3s 0s ease-in-out;
}

#tensorNodeSearch{
  top: 10%;
}

.WorkspaceToolbar{
  position: relative;
  border: 2px solid black;
  width: 100%;
  height: 95%;
}

#clearCanvas{
}

#generateCodeButton{
}

#createNode{
}

#undoButton{
}

#redoButton{
}

.navigationButton{
  position: relative;
  width: 100%;
}

span{
  cursor: pointer;
  border-bottom: 2px solid black;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  width: 20%;
}

span:hover{
  border-bottom: 2px solid aliceblue;
  font-weight: bolder;
  color: aliceblue;
  background-color: chocolate;
}

#settingsButton{
  background: #ff8C00;
  border:none;
  cursor: pointer;
  width: 5%;
}

mat-sidenav{
  background: radial-gradient(#58576c,#494860,#58576c);
  width: 70px;
  overflow: hidden;
  /*border: 2px solid red;*/
  height: 100%;
}

.app-name{
  float:left;
  left:20px;
}

.homeIcon{

}

mat-nav-list{
  position: relative;
  height: 98%;
  width: 55%;
  left: 20%;
  /*border: 1px solid yellow;*/
  overflow: hidden;
}

.sidenav-icons{
  position: relative;
  width: 20%;
  border: 2px solid blue;
}

.sidenav-icons-Div{
  position: absolute;
  /*border: 2px solid palegreen;*/
  border-bottom: 2px solid white;
  width: 2.2rem;
  height: 85%;
  left: 0;
}

.sidenav-icons-Div button{
  width: 100%;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.sidenav-buttons mat-icon{
  position: relative;
  font-size: 2rem;
  left: -30%;
}

/*.sidenav-icons-Div mat-icon{*/
/*  position: relative;*/
/*  !*border: 2px solid white;*!*/
/*  font-size: 2.3rem;*/
/*  top: 11%;*/
/*  left: -12.5%;*/
/*}*/

mat-list-item{
  top:2%;
  margin-bottom: 20%;
}

.sidenav-buttons .settingsIcon{
  font-size: 1.75rem;
}

.sidenav-buttons .documentIcon{
  font-size: 1.75rem;
}

.sidenav-Content-Container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}

mat-drawer{
  width: 300px;
}

.importExportProject{
  margin-bottom: 10px;
  text-align: center;
}

.importData{
  border: 2px solid black;
  width: 98%;
  left:0;

}

.importData h5{
  text-align: center;
}

#importExportProjectHeader, #importDataHeader, #importDataHeader2 {
  /*border: 2px solid coral;*/
  border-bottom: 2px solid #ff8C00;
  margin-bottom: 10px;
}

#importFromCommunity{
  text-align: center;
  display: none;
}

mat-tab-group{
  height: 100%;
}

mat-tab{
  height: 100%;
}

mat-tab-group /deep/ .mat-tab-body-wrapper {
  height: 100%;
}
