.sidenav{
  position: relative;
  width: 25%;
  height: 500px;
  float: right;
  top: -100px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.nodeName{
  text-align: center;
}

.nodeDetails{
  text-align: center;
}

.updateNodeButton{
  position: relative;
  background-color: #FF9B01;
  color: white;
  margin: auto 0;
}

.sidenav button{
  position: relative;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
