<mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
  <div class="nodeName">
    <h1>Node Name</h1>
  </div>

  <mat-nav-list class="nodeDetails">
    <mat-list>Node Name: </mat-list>
    <mat-list>Node Type: </mat-list>
    <mat-list>Input Node:  </mat-list>
    <mat-list>Output Node: </mat-list>
    <mat-form-field appearance="fill">
      <mat-label>Output Node</mat-label>
      <select matNativeControl required >
        <option value="Node3">Null</option>
        <option value="Node1">Node1</option>
        <option value="Node2">Node2</option>
        <option value="Node3">Node3</option>
      </select>
    </mat-form-field>
  </mat-nav-list>
</mat-sidenav>
