<div class="draggableNode" id="{{_TFNodeDataOperator.name}}" (mousemove)="reload()">
    <mat-label>
        <div class="nodeName">
            <p>Node: {{_TFNodeDataOperator.name}}</p>
        </div>
    </mat-label>
    <mat-list style="position: relative">
        <mat-form-field style="width: 50%">
            <mat-label  style="width: 50%">X</mat-label>
            <mat-select [(value)]="selectedNodeX" (selectionChange)="linkNodes(selectedNodeX)">
                <mat-option *ngFor="let node of this.data.TFTensors" [value]="node.name">
                    {{node.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 50%">
            <mat-label  style="width: 50%">Y</mat-label>
            <mat-select [(value)]="selectedNodeY" (selectionChange)="linkNodes(selectedNodeY)">
                <mat-option *ngFor="let node of this.data.TFTensors" [value]="node.name">
                    {{node.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-list>
</div>
