html, body {
  height: 100%;
  margin: 0;
}

.NodesArr{
  width: 90px;
}

#canvas{
  border: 2px solid red;
  height: 100rem;
  width: 98%;
  margin-top: 1%;
  margin-left: 1%;
}
#text{
  position: absolute;
}

.nodesLink{
  position: absolute;
}

/*.draggable{*/
/*  background-color: #29e;*/
/*  color: white;*/
/*  touch-action: none;*/
/*  user-select: none;*/
/*}*/
