html, body {
  height: 100%;
  margin: 0;
}

.active{
  stroke: #000;
  stroke-width: 2px;
}

#d3Canvas{
  /*width: 500px;*/
  /*height: 400px;*/
  /*background-color: red;*/
}

#text{
  position: absolute;
}

#nodeShapeContainer{
  border: 2px solid red;
  height: 100%;
  margin-top: 1%;
  margin-left: 1%;
  width: 98%;
}

.nodesLink{
  position: absolute;
}

.draggable{
  width: 9%;
  min-height: 3rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}
