html, body {
  height: 100%;
  margin: 0;
}

.active{
  stroke: #000;
  stroke-width: 2px;
}

#text{
  position: absolute;
}

#canvas{
  border: 2px solid red;
  height: 100%;
  width: 98%;
  margin-top: 1%;
  margin-left: 1%;
}

#canvas button{
  cursor: pointer;
}

.nodesLink{
  position: absolute;
}

.draggable{
  width: 9%;
  min-height: 3rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

#mainLine{
  border: 2px solid red;
  width: 100px;
  height: 100px;
  fill: #000;
  stroke: #2299ee;
  stroke-width: 5;
  background-color: blue;
}

