<div id="d3Canvas">

  <div *ngIf="createNodeBool">
    {{addNodeToCanvas()}}
  </div>
  <button id="addFuncNode" (click)="addFuncNode()">Add Func Node</button>
  <button id="saveButton" (click)="saveNodes()">Add Func Node</button>
  <div id="canvas">

  </div>

  <mat-form-field appearance="fill" class="NodesArr">
    <mat-label>Output</mat-label>
    <mat-select [formControl]="nodesArray" multiple>
      <mat-option *ngFor="let nodeName of nodesArrayList" [value]="nodeName">{{nodeName}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

