<button mat-raised-button (click)="showOrHideImportTabOnButtonClick()" style="background-color: #ff8C00" routerLink="{{routerLink}}" routerLinkActive="{{pageActiveStatus}}">Import</button>
<div class="Group">
  <h4>Import From PC:</h4>
  <input type="file" id="myfile"/><br/>
  <button class="import" (click)="ImportFromPC()" mat-raised-button color="primary">PC</button>
</div>
<div class="Group">
  <h4>Community Library:</h4>
  <app-project-list *ngFor="let item of projectL" [element]="item"></app-project-list>
</div>



<router-outlet></router-outlet>