<button class="export" (click)="showhide()" mat-raised-button color="primary">Import</button>
<div id = "hidden1" class = "hidden1">
  <div class="Group">
    <p>From PC:</p>
    <input type="file" id="myfile"/><br/>
    <button class="import" (click)="ImportFromPC()" mat-raised-button color="primary">Import From PC</button>
  </div>
  <div class="Group">
    <p>From Community Library:</p>
    <input list="libList" class="NodeInput" placeholder="Search or Select Project"
           #libSelection><br/>
    <button class="import" (click)="ImportFromLib()" mat-raised-button color="primary">Import From Community Library</button><br/>

  </div>
</div>

<datalist id="libList">
  <option *ngFor="let element of tensorL" value="{{element}}"></option>
</datalist>
