.hidden1{
  display: none;
}

button{
  display: table-cell;
  width: 250px;
  margin: 8px 8px 8px 0;
}

.Group{
  border: solid 2px black;
  text-align: center;
}

.NodeSearch button{
  margin-left: 25%;
}
